[package]
name = "sel4-microkit-message"
version = "0.1.0"
authors = ["Nick Spinale <nick.spinale@coliasgroup.com>"]
edition = "2021"
license = "BSD-2-Clause"

[features]
default = ["postcard"]
postcard = ["dep:serde", "sel4-microkit-message-types/postcard"]

[dependencies]
sel4-microkit = { path = ".." }
sel4-microkit-message-types = { path = "./types" }
serde = { version = "1.0.147", default-features = false, optional = true }
