[package]
name = "microkit-http-server-example-server-core"
version = "0.1.0"
authors = ["Nick Spinale <nick.spinale@coliasgroup.com>"]
edition = "2021"
license = "BSD-2-Clause"

[features]
debug = ["mbedtls/debug"]

[dependencies]
futures = { version = "0.3.28", default-features = false, features = ["async-await", "alloc"] }
httparse = { version = "1.8.0", default-features = false }
log = "0.4.17"
sel4-async-block-io = { path = "../../../../../../sel4-async/block-io" }
sel4-async-block-io-cpiofs = { path = "../../../../../../sel4-async/block-io/cpiofs" }
sel4-async-network = { path = "../../../../../../sel4-async/network" }
sel4-async-network-mbedtls = { path = "../../../../../../sel4-async/network/mbedtls" }
sel4-async-timers = { path = "../../../../../../sel4-async/timers" }
sel4-panicking-env = { path = "../../../../../../sel4-panicking/env" }

[dependencies.mbedtls]
git = "https://github.com/nspin/rust-mbedtls"
tag = "keep/6eef662dbf636d1ccf86078143b6854f"
default-features = false
features = ["no_std_deps"]

[dependencies.sel4-async-single-threaded-executor]
path = "../../../../../../sel4-async/single-threaded-executor"
